.create-group {
  display: inline;
}

.create-group .submit {
  width: 48%;
  display: inline-block;
  height: 40px;
  background-color: #181245;
  color: white;
  border-radius: 15px;
}

.create-group .submit:hover {
  background-color: #090622;
}
