* {
  font-family: "Rubik";
}

body {
  background-color: #ffdc9e;
}

#container {
  width: 80%;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

h1,
h2,
h3 {
  text-align: center;
}

#navigation {
  background-color: lightgray;
  top: 0;
  width: 100%;
  margin-top: 0;
}

#navigation a {
  display: inline-block;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
}

#navigation a:hover {
  background-color: darkgray;
}

.errors-area {
  background-color: red;
  border-radius: 10px;
  padding: 10px 30px;
  color: white;
}

.errors-area h3 {
  margin: 0;
}

.float-clear {
  clear: both;
}
