* {
  font-family: "Rubik";
}

body {
  background-color: #ffdc9e;
}

#container {
  width: 80%;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

h1,
h2,
h3 {
  text-align: center;
}

#navigation {
  background-color: #121945;
  top: 0;
  width: 100%;
  margin-top: 0;
}

#navigation a {
  display: inline-block;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

#navigation a:hover {
  background-color: darkgray;
}

.errors-area {
  background-color: red;
  border-radius: 10px;
  padding: 10px 30px;
  color: white;
}

.errors-area h3 {
  margin: 0;
}

.float-clear {
  clear: both;
}

#search-email {
  background: rgba(255, 255, 255, 0.2);
  width: 25%;
	padding: 8px;
	font-family: 'Rubik';
	color:#fff;
  margin-top:10px;
  margin-right: 5px;
	font-size:1em;
	border-radius:18px;
	border: rgba(255, 255, 255, 0.2) 1px  solid;
}

#search_button {
  background-color: #9c0c0c;
	width: 8%;
	padding: 11px;
	color: #fff;
	border-radius: 20px;
	border: #9c0c0c 1px solid;
	font-family: 'Rubik';
}

#search {
  display: inline;
  margin-left: 20%;
  margin-bottom: 1%;
}
